[user]
	name = {{ .name }}
	email = {{ .email }}
[core]
	editor = /usr/bin/vim
	whitespace = trailing-space,tab-in-indent,tabwidth=4
[color]
	ui = auto
[apply]
	whitespace = fix
[alias]
	changelog = !git shortlog --no-merges $(git tag | tail -n 1)..HEAD
	clean-tags = fetch --prune origin +refs/tags/*:refs/tags/*
	graph = log --graph --pretty=format:\"%C(yellow)%h %Cgreen%ad %C(cyan)[%an]%Cred%d%Creset %s\" -C -M --date=short
[push]
	default = nothing
[rerere]
	enabled = true
[tag]
	sort = version:refname
[versionsort]
	suffix = -rc
[pull]
	ff = only
[merge]
	ff = false
